@font-face {
  font-family: 'Akzidenz Grotesk';
  /* src:  url('/fonts/akzidenzgroteskpro-regular-webfont.woff') format('woff'); */
  src:  url('/fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Akzidenz Grotesk It';
  src:  url('/fonts/AkzidenzGroteskPro-It.woff2') format('woff2'),
        url('/fonts/AkzidenzGroteskPro-It.woff') format('woff');
}

/* Reset ------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1.15;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Akzidenz Grotesk', 'Helvetica', sans-serif;
  font-size: 1.225rem;
}
em {
  font-family: 'Akzidenz Grotesk It', 'Helvetica', sans-serif;
}

nav *, .post__body * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

li {
  list-style-position: inside;
}
ul li {
  list-style: none;
}
.post__content ul li:before { 
  content: '- ';
};

div, img, video, audio {
  vertical-align: middle;
}

p:not(:empty), ol:not(:empty), ul:not(:empty), 
.media-wrapper {
  margin-bottom: .75rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

header a, nav a, .post-wrapper {
  text-decoration: none;
}

/* .post:not(:last-child) {
  margin-bottom: .5rem;
} TODO: wanted but doesn't work */

/* ------------------------------------------------- */

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }

#content-wrapper {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'header main nav';

  padding: .75rem .75rem 0 .75rem;
  /* TODO: match padding with 
    the padding-bottom value of the content
    top of the sticky-positioned elements */
}

header h1, nav ul {
  position: sticky;
  top: .75rem;
  left: 0;
}
header h1 {
  max-width: 175px;
}
nav ul {
  list-style: none;
  padding-bottom: 0;
  width: 175px;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  #content-wrapper {
    column-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'header nav'
      'main main';
  }

  header h1, nav ul, nav ul li {
    position: relative;
    width: auto;
  }
}

/* ------------------------------------------------- */

.post__id { grid-area: post__id; }
.post__body { grid-area: post__body; }
.post__date { grid-area: post__date; }

.post {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'post__id post__body post__date';
}
.post:not(:last-child) {
  margin-bottom: .5rem;
}

@media screen and (max-width: 1024px) {
  .post {
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      'post__id post__date'
      'post__body post__body';
  }

  .post__date {
    text-align: right;
  }
}

/* ------------------------------------------------- */

.embed-wrapper, .video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.embed-wrapper iframe, .video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper > video {
  width: 100%;
  height: auto;
}

.audio-wrapper > audio {
  width: 100%;
}