/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/* ------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-size: 1.2rem;
}

li {
  list-style-position: inside;
}

img {
  display: block;
  width: 100%;
}

p:not(:empty), ol:not(:empty), ul:not(:empty), img {
  padding-bottom: .8rem;
}

/* ------------------------------------------------- */

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }

#content-wrapper {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'header main nav';
}

header h1, nav li {
  position: sticky;
  top: 0;
  left: 0;
}
header h1 {
  max-width: 175px;
}
nav ul, nav li {
  list-style: none;
  padding-bottom: 0;
  width: 175px;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  #content-wrapper {
    column-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'header nav'
      'main main';
  }

  header h1, nav ul, nav li {
    position: relative;
    width: auto;
  }
}

/* ------------------------------------------------- */

.post__id { grid-area: post__id; }
.post__body { grid-area: post__body; }
.post__date { grid-area: post__date; }

.post {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'post__id post__body post__date';
}

@media screen and (max-width: 1024px) {
  .post {
    gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      'post__id post__date'
      'post__body post__body';
  }

  .post__date {
    text-align: right;
  }
}

/* ------------------------------------------------- */

#nav-main *, .post__body * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}