header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }

#content-wrapper {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'header main nav';

  padding: .75rem;
  /* TODO: match padding with 
    the padding-bottom value of the content
    the top value of the sticky-positioned elements */
}

header h1 {
  position: sticky;
  top: .75rem;
  left: 0;

  max-width: 175px;
}

nav ul {
  position: sticky;
  top: .75rem;
  right: 0;

  list-style: none;
  width: 175px;
  text-align: right;
}
nav ul li {
  list-style: none;
}

@media screen and (max-width: 1024px) {
  #content-wrapper {
    column-gap: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'header nav'
      'main main';
  }

  header h1, nav ul, nav ul li {
    position: relative;
    width: auto;
  }
}